body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flight {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 300px; 
  height: auto;
  animation: moveUpDown 1s 
  ease-in-out infinite   alternate ;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh); 
}
} 

























/* animation: moveUpDown 3s 
  ease-in-out infinite alternate ; 
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh); 
}
} */